html, body
{
	margin: 0;
	overflow: hidden;
}

body
{
	background: linear-gradient(rgb(35, 35, 105), rgb(14, 14, 71));
	/* background: url("images/Background.png");
	background-size: cover; */
}

.hidden
{
	display: none;
}